.opnerp .ui-dialog-dragging{
    outline: 0px none;
    z-index: 1002;
    height: auto;
    width: 300px;
    top: 521.5px;
    left: 65px;
    display: block;
}
#click {
    padding: 1px;
    position: absolute;
    width:50px;
    float:left;
    left: 0px;
    top: -13px;
    height:27px;
}
#hover1:click {
    width:180px;
    cursor:pointer;
    float:left;
}
#popup {
    overflow-y:scroll !important;
    width: 50%;
    height:auto !important;
    max-height:90% !important;
    opacity: 1;
    right:0%;
    float:right;
    position: absolute;
    top: 32px;
    background: #f7f7f7;
    border: 1px solid transparent;
    border-radius: 0px;
    -moz-box-shadow:2px 3px 6px #888;
    -webkit-box-shadow: 2px 3px 6px #888;
    box-shadow: 2px 3px 6px #888;
    z-index: 999999;
    background: white;
}
.oe_popup_notification:popup {
    opacity: 1;
    border: 1px solid #eeeeee;
}
.text {
    margin-left: 200px;
    margin-top: 20px;
    font-weight:bold;
    color:black;
    font-size:1.2em;
}
.openerp .oe_popup_notification {
  bottom: 0;
  padding: 0px 0;
  top: 3px;
  width: 20px;
  height: 25px;
  text-align: center;
  position: absolute;
  border-radius: 10px;
}
.oe_popup_list {
  width: 100%;
}
.oe_popup_list table{
  padding: 0;
  border-collapse: collapse;
}
.oe_popup_list > thead{
  border-bottom: 2px solid #cacaca;
  background: #eeeeee;
  vertical-align: top;
}
.oe_popup_list tbody{
  cursor: pointer;
}
.oe_popup_list th{
  padding: 3px 6px;
  line-height: 18px;
}
.oe_popup_list > tbody > tr{
  height: 27px;
  border-top: 1px solid #dddddd;
  vertical-align: middle;
}
.oe_popup_list > tbody > tr:nth-child(odd){
  height: 27px;
  border-top: 1px solid #dddddd;
  background-color: #efeff8;
}
.oe_popup_list td{
  line-height: 16px;
  padding: 3px 6px;
}

.oe_popuptray {
  margin-right: 0px !important;
}
.backgroundGreen{
    background: red;
}
#oe_main_menu_navbar {
    position: inherit !important;
}
.oe_highlight_btn{
    color: red !important;
}
.oe_popup_notification{
    color:#9d9d9d;
    margin-top: 29%;
}
.popup_notification_button{
    background: none;
    border: none;
}
